<!DOCTYPE html>
<!-- Archivo: practica5/views/hola.ejs -->

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Hola</title>
    <link rel="stylesheet" href="/stylesheets/estilos.css"/>
  </head>

  <body>
    <h1>Hola</h1>
    <p>
      ¡Hola <%= nombre %>!
    </p>
    <p>
      <ul>
      <% enanos.forEach((enano) => { %>
        <li><%= enano %></li>
      <% }); %>
      </ul>
    </p>
    <hr/>
    <footer>
      Desarrollo de aplicaciones web
    </footer>
  </body>
</html>
