body {
    color: #DDD;
    background: #1D1D1D;
    padding: 0 2em;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

h1 {
    padding: 30px 30px;
    background: #80BD01;
    color: #FFF;
    font-size: 180%;
}

h2 {
    color: #A0C874;
    font-size: 120%;
    margin-top: 40px;
}

li {
    color: #80BD01;
    font-size: 90%;
    font-style: italic;
}

img {
    padding: 5px;
    border: 1px solid #fff;
}

button {
    font-size: 120%;
}