/* Archivo: practica5/public/stylesheets/estilos.css */

body {
  background: #FFFFFF;
  color: #000080;
  font-family: sans-serif;
  font-size: medium;
  margin: 20px;
}

hr {
  border: 0;
  color: #B0C4DE;
  background-color: #B0C4DE;
  height: 1px;
}

table {
  border-collapse: collapse;
  border: 1px solid #000000;
  padding: 0px;
  margin-bottom: 10px;
  color: #000000;
  background: #E6E6FA;
}

td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

th {
  border: 1px solid #000000;
  padding: 10px;
  color: #008080;
  background: #B0E0E6;
}

li {
  color: #AAAAAA;
}

span {
  color: #094141;
}

footer {
  font-size: 70%;
  color: #B0C4DE;
  text-align: center;
}
